:root {
  --bg-card: #111;
  --text: #fff;
  --muted: #888;
  --accent: #0ff;

  --border: rgba(255, 255, 255, 0.05);
  --shadow: rgba(0, 255, 255, 0.05);
  --shadow-hover: rgba(0, 255, 255, 0.1);

  --modal-bg: #111;
  --modal-border: rgba(0, 255, 255, 0.2);
}
[data-theme="light"] {
  --bg-card: #ffffff;
  --text: #111;
  --muted: #666;
  --accent: #0e7490;

  --border: #e6e6e6;
  --shadow: rgba(0, 0, 0, 0.05);
  --shadow-hover: rgba(0, 0, 0, 0.1);

  --modal-bg: #fff;
  --modal-border: #ddd;
}

.dash-card {
  background: var(--bg-card);
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  color: var(--text);

  border: 1px solid var(--border);
  box-shadow: 0 0 10px var(--shadow);
  transition: 0.2s;
}

.dash-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 18px var(--shadow-hover);
}

.dash-card-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--text);
}

.stat-value {
  font-size: 18px;
  color: var(--accent);
}

.muted {
  font-size: 12px;
  color: var(--muted);
}

.price {
  color: var(--accent);
}

.stat-row {
  display: flex;
  justify-content: space-between;
}

.stat-box {
  text-align: center;
}

.tag {
  background: rgba(0, 255, 255, 0.1);
  padding: 5px 10px;
  border-radius: 20px;
  margin: 3px;
  display: inline-block;
  color: var(--accent);
}

.booking-card {
  padding: 10px;
  border-bottom: 1px solid var(--border);
}

.center {
  text-align: center;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(5px);
}

.modal-box {
  width: 320px;
  background: var(--modal-bg);
  border: 1px solid var(--modal-border);
  border-radius: 15px;
  padding: 20px;
  text-align: center;

  box-shadow: 0 0 25px rgba(0, 255, 255, 0.15);
  animation: pop 0.2s ease;
}

@keyframes pop {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-title {
  color: var(--accent);
  margin-bottom: 15px;
}

.modal-info {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 14px;
  color: var(--text);
}

.modal-info span {
  color: var(--accent);
}

.modal-btn {
  width: 100%;
  margin-bottom: 10px;
}

.modal-cancel {
  width: 100%;
  background: transparent;
  border: 1px solid var(--border);
  color: var(--muted);
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.modal-cancel:hover {
  border-color: var(--accent);
  color: var(--accent);
}
